main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;

}

body {
  background-image: url("bg_1.jpg");
  background-color: #cccccc;
  background-size: cover;
}